<!DOCTYPE html>
<html lang="en">

<head>
    <title>Railway</title>
	</head>

<body>

    <div id="wrapper" >
test
<div ng-app="mapsApp" ng-controller="MapCtrl">
    <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>
       
			</div>


    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	   <script src="js/angular.js"></script>
  <script src="js/map.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>



</body>

</html>
